{% extends 'base.html.twig' %}

{% block title %}Valider ma commande{% endblock %}

{% block content %}
        <h2>Je passe ma commande</h2>
        <p>Choisissez vos préférences avant de passer votre commande sur la boutique française.</p>
        <hr>

        <div class="row">
                <div class="col-md-6">
                        <b>Choissir mon adresse</b><br/>
                        <b>Choissir mon transporteur</b>
                </div>
                <div class="col-md-6">
                        <b>récup de ma commande</b><br/>
                        <b>bouton payer</b>
                </div>

        </div>
{% endblock %}
